/*
===============
font-family
===============
*/
$main-font: 'Montserrat', sans-serif;
$sub-font1: 'Noto Sans JP', sans-serif;
$sub-font2: 'Poppins', sans-serif;

/*
===============
base-color
===============
*/
$black-color: #000000;
$white-color: #ffffff;
$orange-color: #EA5E13;
$green-color: #4C7632;
$brown-color: #837349;
$beige-color: #F2ECE2;

